img {
    float: none;
    width: 200px;
    height: 200px;
    animation: spin 4s infinite;
}

.h{
    border: 2px solid orange;
    float: left;
}

body{
    background-color: black;
    margin: 0 auto;
}
@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}
.cont{
    position: absolute;
    top: 35%;
    left: 35%;
}