body {
    background-color: rgb(223, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.a {
 display: grid;
 grid-template-columns: 200px 200px;
 place-items: center;
 grid-row: auto auto;
 background-color: rgb(242, 143, 143);
 border: 2px solid #000;
 height: 600px;
 width: 600px;
 column-gap: 100px;
 row-gap: 100px;
 justify-content: center
}
.b {
 background-color: rgb(230, 217, 217);
 height: 200px;
 width: 200px;
 border: 2px solid #000;
 margin: auto;

}
.c {
 background-color: rgb(242, 232, 232);
 border: 2px solid #000;
 height: 200px;
 width: 200px;
 margin: auto;
 animation: chonk 0.7s infinite;
}
.d {
 background-color: rgb(238, 228, 228);
 border: 2px solid #000;
 height: 200px;
 width: 200px;
 margin: auto;

}
.e {
 background-color: rgb(238, 223, 223);
 border: 2px solid #000;
 height: 200px;
 width: 200px;
 margin: auto;
 
}