body {
  background-color: bisque;
}
.a {
  height: 350px;
  width: 350px;
  background-color: brown;
  border: 2px solid white;
  margin: 2px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.b {
  height: 50px;
  width: 330px;
  background-color: brown;
  border: 2px solid white;
  margin: 7px;
}

.c {
  height: 50px;
  width: 330px;
  background-color: brown;
  border: 2px solid white;
  margin: 7px;
}
.d {
  height: 50px;
  width: 330px;
  background-color: brown;
  border: 2px solid white;
  margin: 7px;
}
.e {
  height: 50px;
  width:330px;
  background-color: brown;
  border: 2px solid white;
  margin: 7px;
}
@media (max-width: 600px) {
  body {
    background-color: aquamarine;
  }
}